@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}
body{
    background: url(./Images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}
.login{
    background-color: #fff;
    position: relative;
    margin:100px auto;
    width: 400px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
}

.container h2{
    text-align: center;
    padding: 80px 50px 40px 50px;
    font-size: 1.8rem;
}
.login_input{
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.login_input input{
    margin-bottom: 10px;
    padding: 15px;
    width: 340px;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    border: none;
}
.login_input input::placeholder{
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px;
    font-size: 0.6rem;
}
.login_social {
    display: flex;
    justify-content: space-around;
    margin-left: 30px;
    margin-top: 10px;
}
.login_social a:nth-child(1), .login_social a:nth-child(2), .login_social a:nth-child(3){
    padding: 10px 40px;
    text-align: center;
    border-radius: 5px;
    margin-right: 30px;
    text-decoration: none;
    box-shadow: 0px 0px 10px rgb(184, 184, 184);
}
.login_social a:nth-child(1){
    background-color: #1877f2;
    color: #fff;
}
.login_social a:nth-child(2){
    background-color: white;
    color: #333;
}
.login_social a:nth-child(3){
    background-color: #111;
    color: #fff;
}
.login_enviar{
    padding: 20px 30px;
    border: 2px solid #e8e8e8;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    position: absolute;
    font-size: 1.3rem;
    margin-left: 165px;
    margin-top: 20px;
}
.login_enviar a{
    text-decoration: none;
    color: #e8e8e8;
    text-align: center;
}

.criarConta{
    font-weight: bold;
    color: #333;
    margin: 120px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8rem;
}
.criarConta a{
    text-decoration: none;
    color: #333;
}

.footer{
    color:#e8e8e8 ;
    text-transform: uppercase;
    font-size: 0.5rem;
    padding: 15px;
}
.footer a{
    color: #e8e8e8;
    margin-right: 5px;
    text-decoration: none;
}
.lenguage{
    padding: 5px;
    background: rgba(111, 111, 111, 0.3);
    border-radius: 5px;
    text-decoration: none;
}
.copy{
    margin-top: 10px;
    font-size: .6rem;
}