@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}
body{
    background: url(./Images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.container{
    background-color: #fff;
    position: relative;
    margin:100px auto;
    width: 300px;
    height: 400px;
    border-radius: 3px;
}
.container h2{
    text-align: center;
    padding: 50px 50px 30px 50px;
    font-size: 1.1rem;
}
.login_input{
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.login_input input{
    margin-bottom: 10px;
    padding: 10px;
    width: 260px;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    border: none;
}
.login_input input::placeholder{
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px;
    font-size: 0.6rem;
}
.login_social {
    display: flex;
    justify-content: space-around;
    margin-left: 30px;
    margin-top: 10px;
}
.login_social a:nth-child(1), .login_social a:nth-child(2), .login_social a:nth-child(3){
    padding: 5px 26px;
    text-align: center;
    border-radius: 5px;
    margin-right: 30px;
    text-decoration: none;
    box-shadow: 0px 0px 10px rgb(184, 184, 184);
}
.login_social a:nth-child(1){
    background-color: #1877f2;
    color: #fff;
}
.login_social a:nth-child(2){
    background-color: white;
    color: #333;
}
.login_social a:nth-child(3){
    background-color: #111;
    color: #fff;
}
.login_enviar{
    padding: 10px;
    border: 2px solid #e8e8e8;
    border-radius: 10px;
    color: #e8e8e8;
    display: flex;
    align-self: center;
    position: absolute;
}